@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.tacAuthTransactionCard
  @extends .transaction-card

  .cardHeader,
  .cardContent
    flex-direction: column;
    margin: 0;

  .cardContent
    padding-left: 0;
    margin-bottom: 4px;
    text-align: center;

  .smallCardContent
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;

.tacAuthCard_collapsed
  .origin
    display: none;

.tacAuthTxIconSmall
  @extends .txIcon

.tacAuthTxIcon
  @extends .txIconBig

.tacAuthTxScrollBox
  @extends .txScrollBox
  flex-grow: 0;

.tacAuthOriginDescription
  @extends .originNetwork
  color: $black;
  font-size: 12px;

.tacAuthOriginAddress
  @extends .originAddress
  padding-top:7px;
  margin-bottom: 4px;
  color: $black;
  font-size: 14px;
